.App {
  text-align: center;
  background-color: #f3f8fc;
  width: 75%;
  margin: auto; 
  text-align: center;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 25px;

  position: fixed;
  top: 25%; 
  left: 10%;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}

.Bill{
  width: 40%;
  font-style: Roboto;
  margin: auto;
}

.bill-label{
  display: block;
  float:left;
}

.bill-group{
  padding: 20px;
}

input[type=text]{
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.Results{
  background-color: #053133;
  border-radius: 25px;
  width: 40%; 
  height: 80%;
  margin: auto;

}
 
.tip-buttons{ 
  display: grid;
  grid-template-columns: repeat(3, 33% [col-start]);
  grid-template-rows: repeat(2, 50% [row-start]);
}

.tip-button{
  border: none;
  margin: 5px;
  border-radius: 5px;
  background-color: #004749;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.tip-button:hover{
  background-color: #002c2e;
}

.tip-button:active{
  background-color: #001d1f;
}

.tip-button-custom{
  background-color: #bcd0d1;
  color: black;
}

.tip-button-custom:hover{
  background-color: #7b898a;
  color: black;
}

.ResultsField{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  margin: 20px auto;
}

.results-label{
  color: white;
}

.reset-button{
  width: 60%; 
  padding: 10px; 
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 30px;
}

.number-label{
  color: greenyellow;
  font-size: xx-large;
}

.spacer{
  height: 50px;
}
